:root {
  --font-family: "Rubik", sans-serif;
  --color-grey: #4a4a4a;
}

.header {
  font-family: var(--font-family);
  position: fixed;
  width: 100vw;
  height: 120px;
  top: 0;
  position: absolute;
}
.main {
  top: 120px;

  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3cdbc0;
}
p {
  font-family: var(--font-family);
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
}

.item {
  font-size: 16px;
  color: var(--color-grey);
  font-weight: bold;
  font-family: var(--font-family);
}
.image {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.space {
  width: 20px;
}

a:link {
  color: var(--color-grey);
}
@media all and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .image {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
  .item2 {
    margin-right: 30px;
  }
}
